<form [formGroup]="segmentForm" (ngSubmit)="onSubmit()" class="container mt-4">
  <div formArrayName="segments">

    <div *ngFor="let segment of segments.controls; let i = index" [formGroupName]="i" class="card mb-3 p-3">
      <h5>Segment {{ i + 1 }}</h5>
      <!-- 🗓️ TimePeriod Dropdown -->
      <div class="mb-3">
        <label class="form-label">Select Period</label>
        <select class="form-control" formControlName="time_period_id">
          <option *ngFor="let period of periods" [value]="period.id">
            {{ period.month }} {{ period.year }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Segment Name">
      </div>

      <div formGroupName="budget">
        <div *ngFor="let planners of savingLimitService.planners()" class="mb-3">
          <label class="form-label">Budget for {{ planners.userName}}</label>
          <input type="number" class="form-control" [formControlName]="planners.id.toString()" placeholder="Enter Budget">
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div *ngIf="showSuccess" class="alert alert-success d-flex align-items-center" role="alert">
  <i class="bi bi-check-circle-fill me-2"></i>
  <div>Submit successful!</div>
</div>