<div class="container-fluid" style="margin:10px;">
    <div class="row">
        <div class="col-md-4">
            <div matRipple [matRippleCentered]="true" [matRippleColor]="'yellow'" class="thumbnail"
                style="border: 1px solid grey; margin: auto; padding: 5px;">
                <a routerLink="/segments">
                    <img src="assets/create.png" alt="create" style="width:100%" class="img-thumbnail" />
                    <div class="caption">
                        <p>Create Segement</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">

            <div matRipple [matRippleCentered]="true" [matRippleColor]="'yellow'" class="thumbnail"
                style="border: 1px solid grey; margin: auto; padding: 5px;">
                <a routerLink="/segments-view">
                    <img src="assets/create.png" alt="create" style="width:100%" class="img-thumbnail" />
                    <div class="caption">
                        <p>View Segement</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div matRipple [matRippleCentered]="true" [matRippleColor]="'yellow'" class="thumbnail"
                style="border: 1px solid grey; margin: auto; padding: 5px;">
                <a routerLink="/segments">
                    <img src="assets/create.png" alt="create" style="width:100%;" class="img-thumbnail" />
                    <div class="caption">
                        <p>Dashboard</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>