
  .card-grid 
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 16px
    padding: 16px
  

  .action-card 
    width: 150px
    cursor: pointer
    transition: transform 0.2s ease-in-out

    &:hover 
      transform: scale(1.05)
    

    img 
      width: 100%
      height: auto
      object-fit: contain
    

    mat-card-content 
      text-align: center
      font-weight: 500
    
  

