<div class="card-grid">
      <mat-card class="action-card" routerLink="/segments">
        <img mat-card-image src="assets/create.png" width="100vh" height="100vh" alt="Create Segment" />
        <mat-card-content>
          <p>Create Segment</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="action-card" routerLink="/segments-view">
        <img mat-card-image src="assets/create.png" width="100vh" height="100vh" alt="View Segment" />
        <mat-card-content>
          <p>View Segment</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="action-card" routerLink="/menu">
        <img mat-card-image src="assets/create.png" width="100vh" height="100vh" alt="Dashboard" />
        <mat-card-content>
          <p>Dashboard</p>
        </mat-card-content>
      </mat-card>

       <mat-card class="action-card" routerLink="/menu">
        <img mat-card-image src="assets/create.png" width="100vh" height="100vh" alt="Dashboard" />
        <mat-card-content>
          <p>Expenses</p>
        </mat-card-content>
      </mat-card>
    </div>