<div class="container-fluid">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th rowspan="2">Month,Year</th>
        <th rowspan="2" class="text-center">Segment Name</th>
        <th colspan="2" class="text-center">Segment Budget</th>
      </tr>
      <tr>
        <th *ngFor="let user of savingLimitService.users()" class="text-center">
          {{ user.name }}
        </th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let segment of savingLimitService.enrichedSegments()">
       <td class="text-center">{{segment.time_period_id}}</td>
        <td class="text-center">{{ segment.name }}</td>
        <td *ngFor="let user of savingLimitService.users()" class="text-center">
          {{ segment.entries[user.id.toString()][1] }}
        </td>
        <td>
          {{segment.total}}
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="text-center" ><strong>Total</strong></td>
        <td class="text-danger">{{savingLimitService.segementsTotal}}</td>
      </tr>
    </tbody>
  </table>
</div>
