
.sidenav-container 
  height: 100vh
  overflow-y: auto
  overflow-x: hidden

  .sidenav 
    width: 200px

    .mat-toolbar 
      background: inherit
    
  

  .main-toolbar 
    position: sticky
    top: 0
    z-index: 2
  
